.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max {
    width: 100%;
    height: 100%;
}

.maxV {
    height: 100%;
}