* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


:root {
    --panel_width: 200px;
    --panel_transition: 300ms ease-in-out;

    /* colors */
    --darkCrystal: rgba(30, 30, 30, 0.8);
}