body {
    width: 100vw;
    height: 100vh;
    background: grey;

    .test {
        position: absolute;
    }

    .componentBox {}

    .panelMenu {
        position: absolute;
        top: 0;
        width: var(--panel_width);
        height: 100%;
        border: 1px solid red;
    }

    .listMenuBox {
        left: 0;
        transition: var(--panel_transition);
    }

    .configMenuBox {
        right: 0;
        transition: var(--panel_transition);
    }
}