* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: grey;

    .test {
        position: absolute;
    }

    .componentBox {}

    .panelMenu {
        position: absolute;
        top: 0;
        width: var(--listMenu_width);
        height: 100%;
        border: 1px solid red;
    }


    .confMenuBox {
        right: 0;
    }
}